@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400');

body {
	max-width: 800px;
	padding: 3em;
	margin-left: auto;
	margin-right: auto;

	font-weight: 300;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.75em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

strong, b {
	font-weight: 400;
}

table.text-left td {
	text-align: left;
}

.img-responsive, .embed-responsive {
	margin-top: 2em;
}

p {
	margin-top: 1em;
}